root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{cs,xaml,xml,props,targets,json,js,css,html}]
indent_style = tab
indent_size = tab

[*.cs]
# Unused using directives cleanup rules
dotnet_diagnostic.CS8019.severity = warning
dotnet_diagnostic.IDE0005.severity = warning
