*.cs text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
/dev-build-as-binary text eol=lf
/dev-reset-runtime text eol=lf
/dev-set-version text eol=lf
/dev-test-store-package text eol=lf
